html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2,
p,
h3,
h1,
h5,
h4 {
  margin: 0;
  padding: 0;
}


/* Layout */

.layout {
  padding: 1em;
}

/* Navbar */

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px 0;
  position: relative;
  padding: 0 20px;
}

.logo {
  color: gray;
  font-size: 1rem;
}

.cart-icon {
  border: none;
  color: gray;
  background-color: transparent;
  font-size: 26px;
  transform: transform .4s ease;
  cursor: pointer;
  position: relative;
}

.cart-icon:hover {
  transform: scale(1.1, 1.1);
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  top: -2px;
  text-align: center;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 13px;
  padding-top: 2px;
  font-weight: 600;


}

/* Cart */

.cart-wrapper {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  max-width: 600px;
  float: right;
  background-color: white;
  padding: 40px 10px;
  position: relative;

}

.cart-heading {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 10px;
  cursor: pointer;

}

.cart-heading .heading {
  font-weight: 600;
}



.cart-num-items {
  color: #f02d34;
}

/* When cart is empty */

.empty-cart {
  text-align: center;
  margin: 40px;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 1.1rem;
}

.btn {
  border: none;
  background-color: #f02d34;
  border-radius: 40px;
  padding: 10px 70px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.empty-cart .btn:hover {
  transform: scale(1.1, 1.1);
}

/* When user add product */

.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  
}

.product {
  display: flex;
  gap: 30px;
  margin: 20px;

}

.cart-product-image {
  width: 150px;
  height: 150px;
  background-color: #ebebeb;
  border-radius: 15px;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
  
  align-items: flex-end;
}

.item-desc .bottom {
  margin-top: 80px;

}

.flex h5 {
  font-size: 24px;
  

}

.flex h4 {
  font-size: 20px;
  color: black;
}

.remove-item {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #f02d34;
}

.cart-bottom {
  width: 100%;
  position: absolute;
  bottom: 12px;
  right: 5px;
  padding: 30px 65px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.btn-container {
  text-align: center;
}

/* Hero banner */

.hero-banner-container {
  padding: 5em 1.5em;
  height: 500px;
  background-color: #dcdcdc;
  position: relative;
  border-radius: 15px;
  margin: auto;
  width: 80%;

}

.hero-banner-container>div {
  display: flex;
  flex-direction: column;
}

.beats-solo {
  font-size: 1rem;

}

.hero-banner-container>div>h3 {

  font-size: 3rem;

}

.hero-banner-container h1 {
  font-size: 8rem;
  color: white;

}

.hero-banner-image {
  position: absolute;
  max-width: 450px;
  height: 450px;
  top: 0%;
  right: 20%;
}

.hero-banner-container button {
  background-color: #f02d34;
  border: none;
  padding: 1em 2em;
  border-radius: 15px;
  color: white;
  font-size: .8rem;
  cursor: pointer;
  z-index: 10000 !important;
}

.desc {
  align-items: flex-end;
  text-align: end;
  position: absolute;
  bottom: 5%;
  right: 5%;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}

.desc h5 {
  font-weight: 700;
  font-size: 1rem;
}

.desc p {
  font-weight: 100;
}

/* Product */

.products-heading {
  width: 100%;
  text-align: center;
  margin: 1.5em 0;
  color: #324d67;
}

.products-heading>h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.products-heading p {
  font-size: 1rem;
  font-weight: 200;
}

.best-selling-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 1em;

}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
}

.product-card:hover {
  transform: scale(1.1, 1.1);
}

.product-image {
  border-radius: 15px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;

}

.product-name {
  font-weight: 500;
}

.product-price {
  font-weight: 800;
  margin-top: .1em;
  color: black;
}

/* Footer banner */

.footer-banner-container {
  background-color: #f02d34;
  padding: 100px 40px;
  width: 100%;
  min-height: 400px;
  line-height: 1;
  color: white;
  margin-top: 8em;
  border-radius: 15px;
  position: relative;
}

.banner-desc {
  display: flex;
  justify-content: space-between;
}

.banner-desc .left h3 {
  font-size: 5rem;
  font-weight: 900;
  margin-left: 25px;
}

.banner-desc .left p {
  margin: 1em;
}

.banner-desc .right {
  line-height: 1.4;
}

.banner-desc .right h3 {
  font-size: 3rem;
}

.banner-desc .right p {
  font-size: 1rem;
}

.banner-desc .right button {
  margin: 2em 0;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  color: red;
  border: none;
}

.banner-desc .right img {
  position: absolute;
  top: -25%;
  left: 25%;
}

/* Footer */

.footer-container {
  margin-top: 20px;
  padding: 30px 10px;
  color: #324d67;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

}

.icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

/* Product page */

.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  padding: 0 100px;
  color: #324d67;
  flex-wrap: wrap;

}

.product-detail-image {
  border-radius: 15px;
  width: 400px;
  height: 400px;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform .5s ease;
  background-color: #ebebeb;

}

.product-detail-image:hover {
  transform: scale(1.1, 1.1);
}

.small-image-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}

.product-detail-container h4 {
  margin: 0;
  margin-top: 10px;

}

.product-content-container {
  margin-left: 30px;
}

.product-detail-desc p {
  margin-top: 10px;
}



.reviews {
  display: flex;
  color: #f02d34;
  margin-top: 10px;
  gap: 5px;
  align-items: center;
}

.reviews p {
  color: #324d67;
}

.price {
  font-weight: 700;
  font-size: 1.5rem;
  color: #f02d34;
  margin-top: 10px;
}

.quantity-desc {

  width: fit-content;
  border: 1px solid gray;
  padding: 6px;

}

.quantity {

  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.minus {
  border-right: 1px solid gray;
  color: #f02d34;
}

.num {
  border-right: 1px solid gray;
  font-size: 20;
}

.plus {
  color: rgb(49, 168, 49);
}

.product-detail-desc .buttons {
  display: flex;
  gap: 30px;

}

.add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  margin-right: 50px;
}

.add-to-cart:hover {
  transform: scale(1.1, 1.1);
}

.buy-now {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #f02d34;
  color: white;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buy-now:hover {
  transform: scale(1.1, 1.1);
}

.maylike-products-wrapper {
  text-align: center;
  font-size: 1.2rem;
  color: #324d67;
  padding: 0 100px;
}

.maylike-products-container {
  display: flex;
  gap: 20px;
  margin-top: 2em;
}

.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}





/* Mobile */

@media (max-width: 800px) {

  .layout {
    padding: 0;
  }

  .hero-banner-image,
  .footer-banner-image {
    width: 0;
  }

  .banner-desc .left h3 {
    margin-right: 10px;
    font-size: 4rem;
  }

  .product-content-container {
    margin: 0;
  }

  .quantity {
    align-items: flex-start;
    flex-direction: column;
    
  }

  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }

}